db:
  r2dbc:
    username:
    password:
    host:
    port:
    url:
    database:


r2dbc:
  name:

prediction:
  url:

logging:
  level:
    io.r2dbc.postgresql.QUERY: DEBUG # for queries
    io.r2dbc.postgresql.PARAM: DEBUG # for parameters
    org:
      springframework:
        r2dbc: DEBUG

springdoc:
  use-fqn: true
  swagger-ui:
    path: "/swagger/index.html"
  show-actuator:

cloudinary:
  url:

openai:
  key:

redis:
  host: localhost
  port: 6380
  password:

spring:
  flyway:
    url:
    locations:
spring:
  flyway:
    url:
    locations: